@import '../../common/variables';


.App {
  margin: 0 auto;

  &__main {
    min-height: 100vh;
  }

  &__noGameData {
    padding: 0 80px;
    margin-top: 50px;
  }

  .Spinner {
    margin: 80px auto;
  }

  @media screen and (min-width: $two-col-break) {
    display: flex;
    margin: 0;

    &__main {
      width: $main-width;
      flex-shrink: 0;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}
