@import '../../common/variables';


.SearchBar {
  display: flex;
  background: $primary;
  height: 100px;

  &__wrapper {
    display: flex;
    width: 90%;
    max-width: $main-width;
    margin: auto;
  }

  &__form {
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 16px 20px;
    font-size: 24px;
    outline: none;
    transition: 100ms ease-out;
    border-radius: 3px;
    border: none;
    transform: scale(0.9);

    &:focus {
      transform: scale(1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    }
  }
}
