@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');
@import './normalize.scss';
@import './variables.scss';


* { box-sizing: border-box };

html, body {
  background: white;
  color: #f7f7f7;
}

body {
  font-family: 'Roboto', sans-serif;
}
